div#selected_cargo{
    margin-top: 10px;
    margin-bottom: 20px;
}
div#mapmodelcargo{
    z-index: 99999999999;
}
.blockUI#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 0;
  opacity: .80;
}
div#mapmodelcargo #FlyingCargo_confirm {
    position: static;
    line-height: 18px;
}
.spinner {
  margin: -16px 0 0 -16px;
  top: 50%;
  height: 32px;
  width: 32px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#search-input-cus{
    height: 50px;
    border-radius: 70px;
    border: 1px solid #144378;
}

.modal-search .input-text{
    width: 100%;
    box-sizing: border-box;
}
.modal-search {
    position: relative;
    margin: 0 auto;
    max-width: 60%;
    width: 100%;
}

/* 02-08-2022 */
.modal-dialog {
    box-sizing: border-box;
}
.modal-content .modal-header{
    position: relative;
}

.modal-content .modal-header #modal-close,
.modal-content .modal-header #modal-close-desc{
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    color: #000;
    font-size: 30px;
    line-height: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-content * {
    box-sizing: border-box;
}
.modal-content .cargo-logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    height: 100%;
}
.modal-content .cargo-logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #0000008a;
}

.modal .modal-dialog {
    margin: 0 auto;
    overflow: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 95%;
    width: 1000px;
    max-height: 100%;
}
.modal .modal-content {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
}
.modal .modal-title {
    text-align: center;
}
.modal-header,
div#mapmodelcargo .modal-header,
.modal.descript .modal-header{
    padding: 10px;
    height: 70px;
}

div#mapmodelcargo .modal-body #map{
    height: 100%;
}
div#mapmodelcargo .modal-body {
    height: calc(100% - 70px);
}

div#mapmodelcargo .modal-content {
    background: #fff;
    overflow: auto;
    border: 1px solid #0000002d;
    width: 100%;
    max-height: 80%;
    height: 100%;
}

.open-how-it-works {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    background: #418ffe;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    font-weight: 800;
    font-size: 21px;
}

body.map-open-popup {
    overflow: hidden;
}

.modal.descript {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.modal.descript .modal-dialog {
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.modal.descript .modal-dialog .modal-content {
    background: #fff;
    overflow: auto;
    border: 1px solid #0000002d;
    width: 100%;
}

.modal.descript .modal-header {
    text-align: center;
}

.modal.descript .modal-body {
    padding: 20px;
}

.pac-container {
    z-index: 9999999999;
}